{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Urban Aura jewelry</p>
                </div>
            </div>
        </header>

        <div class ="container" >
            <div class = "row" >
                <center>
                    <div class = "col-8">
                        <h2>Built by Huandong Guo </h2>
                            <h2> For my dearest angel in the world</h2>
                        <br/><br/>
                        <h4>Aurora Rivera Mercedes Suchíl</h4>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}